<p class="total">Total parts in stock: {{ totalCarParts() }}</p>

<ul class="items">
  <li *ngFor="let carPart of carParts" [class.featured]="carPart.featured">
    <div class="image">
      <img [src]="carPart.image" [alt]="carPart.description" />
    </div>
    <div class="info">
      <p class="title">{{ carPart.name | uppercase }}</p>
      <p class="description">{{ carPart.description }}</p>
      <p>Price: {{ carPart.price | currency:'EUR' }}</p>
      <p>Updated on: {{ carPart.updatedOn | date }}</p>
      <p class="amount" *ngIf="carPart.inStock > 0">Left in stock: {{ carPart.inStock }}</p>
      <p class="amount" *ngIf="carPart.inStock === 0">Out of stock</p>
    </div>

  </li>
</ul>